e2dc_install_path: {{e2dc_install_path|default(install_path~'/ethereum2-docker-compose')}}
e2a_install_path: {{e2a_install_path|default(install_path~'/ethereum2-ansible')}}
e2ccc_install_path: {{e2ccc_install_path|default(install_path~'/ethereum2-control-center-cli')}}
stereum_user: stereum
network: {{network|default(e2dc_network)}}
setup: {{setup|default(e2dc_client)}}
setup_override: {{setup_override|default(e2dc_override)}}
eth1_node: {{eth1_node}}
e2dc_api_bind_address: 127.0.0.1
e2dc_graffiti: stereum.net

# mapping table (key, value) with network name as key and branch name as value
networks:
  pyrmont: master
  mainnet: mainnet
  prater: prater

setups:
  allbeacons:
    services:
      - geth
      - lighthouse_beacon
      - lodestar_beacon
      - nimbus_beacon
      - prysm_beacon
      - teku_beacon
    compose_path: allbeacons/docker-compose.yaml
  lighthouse:
    services:
      - geth
      - beacon
      - validator
      - prometheus
      - grafana
    validator_services:
      - validator
    compose_path: lighthouse-only/docker-compose.yaml
    create_account: lighthouse-only/create-account.yaml
    exit_account: lighthouse-only/exit-account.yaml
    overrides_path: compose-examples/lighthouse-only/override-examples
  prysm:
    services:
      - geth
      - beacon
      - slasher
      - validator
      - prometheus
      - grafana
    validator_services:
      - validator
    compose_path: prysm-only/docker-compose.yaml
    create_account: prysm-only/create-account.yaml
    exit_account: prysm-only/exit-account.yaml
    overrides_path: compose-examples/prysm-only/override-examples
  multiclient:
    services:
      - geth
      - prysm_beacon
      - prysm_beacon_slasher
      - lighthouse_beacon
      - teku_beacon
      - dirk
      - vouch
      - prysm_slasher
      - grafana
      - prometheus
    validator_services:
      - dirk
      - vouch
    compose_path: multiclient-vouch-dirk/docker-compose.yaml
    overrides_path: compose-examples/multiclient-vouch-dirk/override-examples
  nimbus:
    services:
      - geth
      - beacon
      - prometheus
      - grafana
    validator_services:
      - beacon
    compose_path: nimbus-only/docker-compose.yaml
    create_account: nimbus-only/create-account.yaml
    exit_account: nimbus-only/exit-account.yaml
    overrides_path: compose-examples/nimbus-only/override-examples
  lodestar:
    services:
      - geth
      - beacon
      - validator
      - prometheus
      - grafana
    validator_services:
      - validator
    compose_path: lodestar-only/docker-compose.yaml
    create_account: lodestar-only/create-account.yaml
    exit_account: lodestar-only/exit-account.yaml
    overrides_path: compose-examples/lodestar-only/override-examples
  teku:
    services:
      - geth
      - beacon
      - prometheus
      - grafana
    validator_services:
      - beacon
    compose_path: teku-only/docker-compose.yaml
    overrides_path: compose-examples/teku-only/override-examples

# docker settings
docker_address_pool_base: 172.80.0.0/12
docker_address_pool_size: 24


# EOF
