e2dc_install_path: {{ e2dc_install_path | default(install_path~'/ethereum2-docker-compose') }}
e2a_install_path: {{ e2a_install_path | default(install_path~'/ethereum2-ansible') }}
e2ccc_install_path: {{ e2ccc_install_path | default(install_path~'/ethereum2-control-center-cli') }}
stereum_user: {{ stereum_user | default('stereum') }}
network: {{ network }}
setup: {{ setup }}
setup_override: {{ setup_override }}
e2dc_api_bind_address: {{ e2dc_api_bind_address | default('127.0.0.1') }}
e2dc_graffiti: {{ e2dc_graffiti | default('stereum.net') }}
stereum_version_tag: {{ stereum_version_tag | default('beta-4-0') }}

# (automatic unattended) update
update:
  in_progress:
  lane: {{ update.lane | default('stable') }}
  available:
  unattended:
    check: {{ update.unattended.check | default('false') }}
    install: {{ update.unattended.install | default('false') }}

# https://ssv.network/
ssv:
  enabled: {{ ssv.enabled | default('false') }}
  pk: {{ ssv.pk | default('') }}
  sk: {{ ssv.sk | default('') }}

# network connectivity settings
connectivity:
  eth1_nodes: {{ connectivity.eth1_nodes | default( '[\'' + eth1_node | default('https://geth:8545') + '\']' ) }}

# mapping table (key, value) with network name as key and branch name as value
networks:
  pyrmont: master
  mainnet: mainnet
  prater: prater

setups:
  allbeacons:
    compose_path: allbeacons/docker-compose.yaml
    ports:
      public:
        tcp:
          - 30303
          - 9000
          - 30607
          - 9020
          - 13000
          - 9030
        udp:
          - 30303
          - 9000
          - 9010
          - 9020
          - 12000
          - 9030
      internal:
        tcp:
          - 8545
          - 5052
          - 8910
          - 9596
          - 8008
          - 9190
          - 4000
          - 8900
          - 5051
          - 8920
  lighthouse:
    compose_path: lighthouse-only/docker-compose.yaml
    create_account: lighthouse-only/create-account.yaml
    exit_account: lighthouse-only/exit-account.yaml
    overrides_path: compose-examples/lighthouse-only/override-examples
    ports:
      public:
        tcp:
          - 30303
          - 9000
        udp:
          - 30303
          - 9000
      internal:
        tcp:
          - 9090
          - 5052
          - 8545
  prysm:
    compose_path: prysm-only/docker-compose.yaml
    create_account: prysm-only/create-account.yaml
    exit_account: prysm-only/exit-account.yaml
    delete_account: prysm-only/delete-account.yaml
    overrides_path: compose-examples/prysm-only/override-examples
    ports:
      public:
        tcp:
          - 30303
          - 13000
        udp:
          - 30303
          - 12000
      internal:
        tcp:
          - 8545
          - 4000
          - 7500
  multiclient:
    compose_path: multiclient-vouch-dirk/docker-compose.yaml
    overrides_path: compose-examples/multiclient-vouch-dirk/override-examples
    ports:
      public:
        tcp:
          - 30303
          - 13000
          - 13001
          - 9000
          - 9001
        udp:
          - 12000
          - 12001
          - 9000
          - 9001
      internal:
        tcp:
          - 8545
          - 4000
          - 8900
          - 4001
          - 8901
          - 8902
          - 5052
          - 8910
          - 5051
          - 8920
          - 9090
  nimbus:
    compose_path: nimbus-only/docker-compose.yaml
    create_account: nimbus-only/create-account.yaml
    exit_account: nimbus-only/exit-account.yaml
    overrides_path: compose-examples/nimbus-only/override-examples
    ports:
      public:
        tcp:
          - 30303
          - 9000
        udp:
          - 30303
          - 9000
      internal:
        tcp:
          - 8545
          - 9190
          - 9090
  lodestar:
    compose_path: lodestar-only/docker-compose.yaml
    create_account: lodestar-only/create-account.yaml
    exit_account: lodestar-only/exit-account.yaml
    overrides_path: compose-examples/lodestar-only/override-examples
    ports:
      public:
        tcp:
          - 30303
          - 30607
        udp:
          - 30303
          - 9000
      internal:
        tcp:
          - 8545
          - 9596
          - 8008
          - 9090
  teku:
    compose_path: teku-only/docker-compose.yaml
    exit_account: teku-only/exit-account.yaml
    overrides_path: compose-examples/teku-only/override-examples
    ports:
      public:
        tcp:
          - 30303
          - 9001
        udp:
          - 30303
          - 9001
      internal:
        tcp:
          - 8545
          - 5051
          - 9090

# EOF
