---
- name: Install pip
  apt:
    update_cache: yes
    name:
      - python3-pip
      - expect

- name: Set correct permissions
  ansible.builtin.file:
    path: "{{ e2dc_install_path }}/data/nimbus/validator"
    owner: "2000"
    group: "2000"
    mode: '0700'
    state: directory

- name: Run import
  command: "./nimbus_validator_import.sh \"{{ validator_password }}\"" 
  args:
    chdir: "{{ e2dc_install_path }}"
  register: import_output   
  vars:
    ansible_python_interpreter: /bin/python3
  become: yes
  become_user: "{{ stereum_user }}"
  when: setups[setup].create_account is defined

- name: error incorrect password
  fail:
    msg: "Incorrect Password!!! Please check your validator password and try it again."
  become: yes
  when: "'The entered password was incorrect' in import_output.stdout"

# EOF
